/deb_dist/
/dist/
/migasfree_client.egg-info/
/MANIFEST
/migasfree?client-*.tar.gz
/stdeb.cfg
/build/
/venv/
/migasfree_client/devices/plugins/*.py
!/migasfree_client/devices/plugins/__init__.py
/migasfree_client/pms/plugins/*.py
!/migasfree_client/pms/plugins/__init__.py
*.pyc
/.coverage
.agent/
graphify-out/
