# http://docs.python.org/distutils/sourcedist.html#the-manifest-in-template

include AUTHORS INSTALL LICENSE README.md MANIFEST.in migasfree-client.doap requirements.txt
include conf/migasfree.conf
recursive-include icons *.svg
recursive-include migasfree_client *.py
include po/*
