# http://docs.python.org/distutils/sourcedist.html#the-manifest-in-template

include AUTHORS INSTALL LICENSE README.md MANIFEST.in migasfree-client.doap requirements.txt
exclude conf/migasfree.conf
recursive-exclude icons *.svg
recursive-include migasfree_client *.py
exclude po/*
